main{
    padding-top: 79px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smoke{
    padding: 5%;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
    0%{opacity: 0;}
    100%{opacity: 1;}
}