main{
    padding-top: 79px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.smoke{
    flex-direction: row;
    height: fit-content;
    width: auto;
    justify-content: flex-start;
}

.smoke:nth-child(2n+0){
    flex-direction: row-reverse;
}

.smoke-text{
    flex: 1;
}

.smoke img{
    background-image: url(../img/global/border.webp);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2%;
    margin-left: auto;
    height: 50%;
    width: 50%;
}

ul{
    padding: 0%;
}

li{
    list-style: none;
}


@media (max-width: 767px) {
    

    .smoke{
        background-size: cover;
        margin-top: auto;
        flex-direction: column;
    }

    .smoke:nth-child(2n+0){
        flex-direction: column;
    }
    
    .smoke-container{
        flex-direction: column;
    }

    .smoke img{
        margin-top: 1%;
        margin-left: 0%;
    }

}